@*@model IEnumerable<KhaoThiSoftware.Models.DanhSachThi>*@
@model PagedList.IPagedList<KhaoThiSoftware.Models.DanhSachThi>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admins/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <label>Mã sinh viên</label>
        </th>
        <th>
            <label>Họ tên</label>
        </th>
        <th>
            <label>Số báo danh</label>
        </th>
        <th>
            <label>Môn thi</label>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.f_masv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.f_holotvn)
            @Html.DisplayFor(modelItem => item.f_tenvn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sobaodanh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.f_tenmhvn)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdDanhSachThi }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdDanhSachThi }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdDanhSachThi })
        </td>
    </tr>
}

</table>
<!-- Thêm mã phân trang -->
<br />
<div class="row">
    <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6">
        @using (Html.BeginForm("Index", "Link", FormMethod.Get))
        {
            <p>
                Kích thước trang: @Html.DropDownList("size", (List<SelectListItem>)ViewBag.size, new { @onchange = "this.form.submit();" })
            </p>
        }
    </div>
    <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6 text-right">
        Trang: @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
    </div>
</div>

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, size = ViewBag.currentSize }))
<!-- Kết thúc -->