@model KhaoThiSoftware.Models.KyThi

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admins/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>@ViewBag.ThongBao</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label>Mã kỳ thi</label>:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaKyThi)
        </dd>

        <dt>
            <label>Tên kỳ thi</label>:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenKyThi)
        </dd>

        <dt>
            <label>Ngày tạo</label>:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayTao)
        </dd>

        <dt>
            <label>Người tạo</label>:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NguoiTao)
        </dd>

        <dt>
            <label>Chú thích</label>:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChuThich)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-primary" /> |
            @Html.ActionLink("Danh sách kỳ thi", "Index", null, new { @class = "btn btn-success"})
        </div>
    }
</div>
