@model KhaoThiSoftware.Models.KyThi

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>KyThi</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaKyThi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaKyThi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenKyThi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenKyThi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayTao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayTao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NguoiTao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NguoiTao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChuThich)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChuThich)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isDelete)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isDelete)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdKyThi }) |
    @Html.ActionLink("Back to List", "Index")
</p>
