@model KhaoThiSoftware.Models.KyThi

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admins/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Cập nhật thông tin đợt thi</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IdKyThi)
        @Html.HiddenFor(model => model.ChuThich)
        @Html.HiddenFor(model => model.Status)
        @Html.HiddenFor(model => model.NguoiTao)
        @Html.HiddenFor(model => model.isDelete)
        @Html.HiddenFor(model => model.NgayTao)

        <div class="form-group">
            <label class = "control-label col-md-2">Mã kỳ thi</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.MaKyThi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MaKyThi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Tên kỳ thi</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenKyThi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenKyThi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Chú thích</label><div class="col-md-10">
                @Html.EditorFor(model => model.ChuThich, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ChuThich, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Cập nhật thông tin" class="btn btn-primary" />
                @Html.ActionLink("Danh sách các đợt thi", "Index", null, new { @class = "btn btn-success" })
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
