@model IEnumerable<KhaoThiSoftware.Models.KyThi>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admins/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Danh sách các đợt thi</h2>

<p>
    @Html.ActionLink("Tạo mới đợt thi", "Create", null, new { @class = "btn btn-success"})
</p>
<table class="table">
    <tr>
        <th>
            <label>Mã kỳ thi</label>
        </th>
        <th>
            <label>Tên kỳ thi</label>
        </th>
        <th>
            <label>Chú thích</label>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaKyThi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenKyThi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChuThich)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id = item.IdKyThi }, new { @class = "btn btn-primary" }) |
            @Html.ActionLink("Xoá", "Delete", new { id = item.IdKyThi }, new { @class = "btn btn-primary" }) |
            @Html.ActionLink("Danh sách thí sinh", "Index", "DanhSachThi_Ad", new { id = item.IdKyThi }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Phân trang", "IndexWithPageList", "DanhSachThi_Ad", new { id = item.IdKyThi }, new { @class = "btn btn-primary" })
        </td>
    </tr>
}

</table>
