@model IEnumerable<KhaoThiSoftware.Models.KyThi>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaKyThi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenKyThi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayTao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NguoiTao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChuThich)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isDelete)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaKyThi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenKyThi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayTao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NguoiTao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChuThich)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isDelete)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdKyThi }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdKyThi }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdKyThi })
        </td>
    </tr>
}

</table>
