@model IEnumerable<KhaoThiSoftware.Models.Account>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admins/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Danh sách tài khoản</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary"})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoleID)
        </th>
        <th><label>Action</label></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoleID)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id=item.UserName }) |
            @Html.ActionLink("Change Password", "ChangePassWord", new { id = item.UserName })
        </td>
    </tr>
}

</table>
